html{width:100%;background:rgba(255,255,255,1.0);font-family:'Metal Mania';}
p{font-family:"Courier New", Courier, monospace;text-align:justify;}
body{margin: 0 auto;}
a{text-decoration:none;color:white;}
#header{background:rgba(0,0,0,1.0);}
#wrapper_header{display:block;width: 80%;height: 120px;margin:0 auto;text-align:right;}
#login{padding: 22px;color:white;margin-top:0px;}
input:focus{outline:none;}
input[type=text],input[type=password]{background-color:rgba(10,10,10,0.0);border:1px solid red;height: 35px;width: 200px;border-radius: 5px;padding:5px;font-size: 120%;}
input[type=submit]{background-color:#2ba6cb;border:none;box-shadow:0px 0px 3px white;height: 30px;width:100px;color:white;font-weight:bold;border-radius: 20px;}
#wrapper_header input:focus{background-color:rgb(255,255,255);outline: none;}
#wrapper_header img{float:left;width: 100px;margin-top:10px;border-radius:5px;}
#event_name{text-shadow:5px 5px 5px #660066;float:left;font-family: 'The Girl Next Door';margin-left: -140px;margin-top:12px;font-size:250%;color:#2ba6cb;}
#wrapper_content{display:block;width: 70%;margin:0 auto;}
#show_about_sign-up_leaderboard{float:right;margin-top:10px;}
#show_about,#show_signup,#show_leaderboard,#show_rule{cursor:pointer;float:left;color:#2ba6cb;}
#about_signup_leaderboard{display:block;width: 70%;margin:0 auto;margin-top:70px;border:1.5px solid black;border-radius:10px;padding:10px;}
#about>h2,#signup>h2,#leaderboard>h2,#rule>h2{text-align:center;font-size: 300%;margin-top:0px;}
#leaderboard{overflow-y:scroll;max-height:500px;}
#signup>form{text-align:center;}
table,th,td{border:1.5px solid black;}
table{text-align:center;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;width:100%;border-collapse:collapse;}
td,th{font-size:1em;border:1px solid #98bf21;padding:3px 7px 2px 7px;}
th {font-size:1.1em;padding-top:5px;padding-bottom:4px;background-color:#A7C942;color:#ffffff;}
tr.alt td {color:#000000;background-color:#EAF2D3;}
#que_track{display:block;margin:0auto;max-width:720px;height:100px;}
.que_trck_disable{width: 30px;background:#2ba6cb;color:white;border-radius:20px;margin-left:5px;padding:2px;float:left;}
#slash{background:none;color:black;}
#show_que{background:#009933;}
#footer{background:rgba(0,0,0,1.0);color:white;height: 40px;padding-top: 25px;}
#signup img{max-height: 300px;}